<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="http://localhost:8080/signup" method="POST">
        <input type="text" name="username" id="username" placeholder="Username*" required/>
        <br>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <br>
        <input type="text" name="address" id="address" placeholder="Address" required/>
        <br>
        <input type="submit" value="Signup" />
    </form>
    <br>
    <a href="http://localhost:8080/login">Login</a>
</body>
</html>