<h4>Add a new product</h4>

<form action="/productos" method="post" class="mb-5">
    <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="Name" required>
    </div>

    <div class="mb-3">
        <input type="number" name="price" class="form-control" placeholder="Price" required >
    </div>
    
    <div class="mb-3">
        <input type="url" name="picture" placeholder="URL of the picture" class="form-control" required>
    </div>
    
    <input type="submit" value="Add product" class="btn btn-primary">
</form>